@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@theme {
	--color-primary: #004f39;
	--color-secondary: #4da167;
	--color-white: #fffaca;
	--color-dark: #151613;

	--default-font-family: 'Work Sans', Helvetica, sans-serif, monospace;
	--font-heading: 'Plus Jakarta Sans';

	--default-transition-duration: 0.2s;

	--radius: 1rem;
	--radius-lg: 2rem;
	--radius-xl: 3rem;
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
}
